.grid {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(22, minmax(min-content, 15rem));

  & > li {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 40% 60%;

    & > * {
      border: solid 2px theme('colors.white');
      display: grid;
      place-content: center;
      place-items: center;
      padding: 2rem;
    }
  }
}
