.graph {
  transform: scale(0.8);

  text {
    font-family: theme('fontFamily.boismen');
    color: theme('colors.sky.100');
    font-size: 4em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
