.grid {
  grid-template-columns: 26% 100px 1fr;
  grid-template-rows: min-content 1fr;
  align-items: center;
  grid-row-gap: 1.5rem;

  /* NAME */
  & > p:first-of-type {
    justify-self: end;
    text-align: right;
  }

  /* LINE */
  & > div:first-of-type {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 2px;
    width: 95%;
    justify-self: end;
  }

  /* DESC */
  & > p:last-of-type {
    grid-column: 1 / -1;
  }

  /* IMAGE */
  & > div:last-of-type {
    grid-column: 3 / 4;

    img {
    }
  }
}
