.navBar {
  min-height: 125px;
  margin-bottom: 0 !important;

  & > div {
    justify-content: center;
  }

  & > div > div {
    justify-content: center;
  }

  & > div > div > span {
    color: black;
    margin: 0;
  }

  button > span {
    background-color: black;
  }
}

.navBtn {
  & > span {
    background-color: black;
  }
}

.navList {
  li {
    cursor: pointer;
    color: black;
  }
  a {
    color: black;
  }
}
