@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Georama';
    src: url('./assets/fonts/georama/Georama-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Georama';
    src: url('./assets/fonts/georama/Georama-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Boismen';
    src: url('./assets/fonts/boismen/boismen-light.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sansation';
    src: url('./assets/fonts/sansation/Sansation_Regular.ttf')
      format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Yanone';
    src: url('./assets/fonts/yanone/YanoneKaffeesatz-Regular.ttf')
      format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Yanone';
    src: url('./assets/fonts/yanone/YanoneKaffeesatz-Medium.ttf')
      format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Pokemon';
    src: url('./assets/fonts/pokemon/pokemon.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Pokemon-Hollow';
    src: url('./assets/fonts/pokemon/pokemon-hollow.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px black;
  }

  .text-heading {
    @apply font-bold italic underline mb-3 text-3xl font-card tracking-wider uppercase;
  }
}

html {
  image-rendering: pixelated;
  font-size: 16px;
}
